@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: .8rem;
  --va-menu-item-hover-opacity: 0.6;
  --va-menu-padding-x:	12px;
  --va-menu-padding-y:	8px;
}

a {
  text-decoration: none;
}

*{
  font-family: 'Source Sans Pro';
}

body {
  margin: 0;
}

.va-message-list__message {
  color: var(--va-secondary) !important;
}

@media (max-width: 576px) {
  .va-modal--mobile-fullscreen .va-modal__dialog {
      margin: 0 !important;
      border-radius: 0;
      min-width: 30vh !important;
      min-height: 30vh !important;
  }
}

.va-menu-list {
  max-width: 100px !important;
  min-width: 100px !important;
}

.va-input-wrapper__size-keeper {
  width: 100%;
}

.va-input-wrapper__text input {
  color: white;
}

.va-icon.va-icon {
  color: white !important;
}

.va-dropdown__content {
  z-index: 1000 !important;
  max-width: 120px;
}

.title {
  color: rgba(228, 228, 228, 0.77);
  font-size: 1.575rem;
  line-height: 2.25rem;
  font-weight: 800;
}

.sub {
  color: rgba(255, 255, 255, 0.59);
  text-align: center;
}

.fra {
  color: aliceblue;
  line-height: 2.25rem;
  padding: 3px;
  border-bottom: solid 1px var(--va-primary);
}

.your_css_selector_here {
  background-color: hsla(277.5, 20%, 7%, 1);
  background-image: radial-gradient(circle at 83% 8%, hsla(344.8387096774194, 76%, 52%, 0.35) 13.2209727561817%, transparent 57.79527252984263%), radial-gradient(circle at 83% 77%, hsla(277.50000000000006, 18%, 7%, 0) 13.2209727561817%, transparent 57.79527252984263%), radial-gradient(circle at 16% 80%, hsla(221.5853522805607, 71%, 60%, 0.35) 10.524512369218554%, transparent 41.41081577193815%);
  background-blend-mode: normal, normal, normal;
}

.va-tabs__content{
  width: 100%;
}

.va-list-item-label{
  color: white;
  font-weight: bold;
}

.va-list-item-label--caption{
  color: var(--va-secondary);
}